@import '../../node_modules/react-datepicker/dist/react-datepicker.css';

$black: #000;
$white: #fff;
$yellow: #fceb00;
$darkBlue: #0c5da6;
$darkerBlue: #174889;
$background: ghostwhite;

body {
    background-color: $background;
}

header {
    width: 105%;
    height: 33px;
    background-color: $darkBlue;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 20px;

    a {
        color: $white;
        display: inline-block;
        letter-spacing: normal;
        padding: 7px;
        text-decoration: none;
    }

    .selected-tab {
        color: $yellow;
        background-color: $darkerBlue;
    }
}

.navigation-link {
    display: block;
    margin-left: 5px;
    margin-bottom: 10px;
}

.form-field {
    max-width: 600px;
    margin-bottom: 5px;
    label {
        width: 24%;
        display: inline-block;
    }

    select, input {
        width: 75%;
    }
}

.date-field > div {
    display: inline-block;
}

.button-bar {
    margin-top: 10px;
    button {
        margin-right: 10px;
        background: $darkBlue;
        color: $white;
        border: 1px solid $darkBlue;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        padding: 5px;
        border-radius: 2px;
        box-sizing: border-box;
        text-align: center;
        height: 30px;
    }
}
